<?xml version='1.0' encoding='UTF-8'?>
<robot name="mano_hand">
  <material name="skin_color">
    <color rgba="0.95 0.75 0.65 1.0"/>
  </material>
  <material name="tip_marker_red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARTx" type="prismatic">
    <parent link="base_link"/>
    <child link="ARTx_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-2.0" upper="2.0" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARTx_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARTy" type="prismatic">
    <parent link="ARTx_link"/>
    <child link="ARTy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-2.0" upper="2.0" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARTy_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARTz" type="prismatic">
    <parent link="ARTy_link"/>
    <child link="ARTz_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-2.0" upper="2.0" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARTz_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARRx" type="revolute">
    <parent link="ARTz_link"/>
    <child link="ARRx_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="1 0 0"/>
    <limit lower="-9.42478" upper="9.42478" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARRx_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARRy" type="revolute">
    <parent link="ARRx_link"/>
    <child link="ARRy_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 1 0"/>
    <limit lower="-9.42478" upper="9.42478" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARRy_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="ARRz" type="revolute">
    <parent link="ARRy_link"/>
    <child link="ARRz_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-9.42478" upper="9.42478" effort="1000" velocity="100.0"/>
    <dynamics damping="1.0" friction="0.05"/>
  </joint>
  <link name="ARRz_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="palm_joint" type="fixed">
    <parent link="ARRz_link"/>
    <child link="palm"/>
    <origin xyz="0 0 0" rpy="1.5708 0 3.1416"/>
  </joint>
  <link name="palm">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.02"/>
      <inertia ixx="1e-4" ixy="0" ixz="0" iyy="1e-4" iyz="0" izz="1e-4"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_palm.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/palm.stl" scale="0.7 0.7 0.7"/>
      </geometry>
    </collision>
  </link>
  <joint name="j1_thumb_cmc_abd" type="revolute">
    <parent link="palm"/>
    <child link="thumb_cmc_abd"/>
    <origin xyz="-0.024704337 -0.016210224 0.026734162" rpy="0 0 0"/>
    <axis xyz="0.13838555 0.9562202 0.25786126"/>
    <limit lower="-1.175" upper="2.621" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_cmc_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j1_thumb_cmc_flex" type="revolute">
    <parent link="thumb_cmc_abd"/>
    <child link="thumb_cmc"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="0.983308 -0.16371469 0.079390295"/>
    <limit lower="-2.0" upper="1.97" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_cmc">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_thumb1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/thumb1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j1_thumb_mcp" type="revolute">
    <parent link="thumb_cmc"/>
    <child link="thumb_mcp"/>
    <origin xyz="-0.019956052 0.0012230668 0.024574935" rpy="0 0 0"/>
    <axis xyz="0.3696764961742894 -0.8790410143977759 0.30104182962311027"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_thumb2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/thumb2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j1_thumb_ip" type="revolute">
    <parent link="thumb_mcp"/>
    <child link="thumb_ip"/>
    <origin xyz="-0.022728207 -0.005675003 0.014841288" rpy="0 0 0"/>
    <axis xyz="0.3696764961742894 -0.8790410143977759 0.30104182962311027"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="thumb_ip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_thumb3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="-0.0266503338 -0.00300316978 0.024490267" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/thumb3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j2_index_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="index_mcp_abd"/>
    <origin xyz="-0.090581894 -0.005242019 0.021415342" rpy="0 0 0"/>
    <axis xyz="0.06169546571417974 -0.9980950202812909 0.0"/>
    <limit lower="-0.349" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j2_index_mcp_flex" type="revolute">
    <parent link="index_mcp_abd"/>
    <child link="index_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.007558444811776876 -0.0004672118017441641 0.9999713254014635"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_index1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/index1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j2_index_pip" type="revolute">
    <parent link="index_mcp"/>
    <child link="index_pip"/>
    <origin xyz="-0.033410028 0.003950998 0.0023879502" rpy="0 0 0"/>
    <axis xyz="-0.007558444811776876 -0.0004672118017441641 0.9999713254014635"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_index2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/index2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j2_index_dip" type="revolute">
    <parent link="index_pip"/>
    <child link="index_dip"/>
    <origin xyz="-0.022654548 -0.0014003506 -0.00017189234" rpy="0 0 0"/>
    <axis xyz="-0.007558444811776876 -0.0004672118017441641 0.9999713254014635"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="index_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_index3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="-0.0260559991 0.000962143298 -0.000523928553" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/index3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j3_middle_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="middle_mcp_abd"/>
    <origin xyz="-0.09728893 -0.0013957052 -0.0034511324" rpy="0 0 0"/>
    <axis xyz="0.059278645 -0.9980696 -0.018527148"/>
    <limit lower="-0.524" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j3_middle_mcp_flex" type="revolute">
    <parent link="middle_mcp_abd"/>
    <child link="middle_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.16968592 -0.028364412 0.9850899"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_middle1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/middle1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j3_middle_pip" type="revolute">
    <parent link="middle_mcp"/>
    <child link="middle_pip"/>
    <origin xyz="-0.03190594 0.0017434433 -0.0056828456" rpy="0 0 0"/>
    <axis xyz="-0.16968592 -0.028364412 0.9850899"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_middle2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/middle2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j3_middle_dip" type="revolute">
    <parent link="middle_pip"/>
    <child link="middle_dip"/>
    <origin xyz="-0.023432396 -0.0013160976 -0.004074225" rpy="0 0 0"/>
    <axis xyz="-0.16968592 -0.028364412 0.9850899"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="middle_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_middle3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="-0.0262673721 0.00392890908 -0.00421216711" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/middle3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j4_ring_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="ring_mcp_abd"/>
    <origin xyz="-0.08392644 -0.0039365464 -0.027616814" rpy="0 0 0"/>
    <axis xyz="0.034989137 -0.99171275 0.12361856"/>
    <limit lower="-0.524" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j4_ring_mcp_flex" type="revolute">
    <parent link="ring_mcp_abd"/>
    <child link="ring_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.31276193 0.10661506 0.94382906"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_ring1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/ring1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j4_ring_pip" type="revolute">
    <parent link="ring_mcp"/>
    <child link="ring_pip"/>
    <origin xyz="-0.029146705 0.0021442156 -0.0052470285" rpy="0 0 0"/>
    <axis xyz="-0.31276193 0.10661506 0.94382906"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_ring2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/ring2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j4_ring_dip" type="revolute">
    <parent link="ring_pip"/>
    <child link="ring_dip"/>
    <origin xyz="-0.024165627 -0.0018250989 -0.007801736" rpy="0 0 0"/>
    <axis xyz="-0.31276193 0.10661506 0.94382906"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="ring_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_ring3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="-0.0250933915 0.00388110615 -0.00751077384" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/ring3.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j5_pinky_mcp_abd" type="revolute">
    <parent link="palm"/>
    <child link="pinky_mcp_abd"/>
    <origin xyz="-0.07055995 -0.010242537 -0.044679318" rpy="0 0 0"/>
    <axis xyz="-0.12182914 -0.95824164 0.25870967"/>
    <limit lower="-0.698" upper="0.349" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_mcp_abd">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.001"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </link>
  <joint name="j5_pinky_mcp_flex" type="revolute">
    <parent link="pinky_mcp_abd"/>
    <child link="pinky_mcp"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <axis xyz="-0.5263179 0.28335696 0.8016847"/>
    <limit lower="-0.175" upper="1.571" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_mcp">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_pinky1.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/pinky1.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j5_pinky_pip" type="revolute">
    <parent link="pinky_mcp"/>
    <child link="pinky_pip"/>
    <origin xyz="-0.0175782 -8.22742e-05 -0.012755204" rpy="0 0 0"/>
    <axis xyz="-0.5263179 0.28335696 0.8016847"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_pip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_pinky2.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/pinky2.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="j5_pinky_dip" type="revolute">
    <parent link="pinky_pip"/>
    <child link="pinky_dip"/>
    <origin xyz="-0.016409367 -0.0007506439 -0.010507677" rpy="0 0 0"/>
    <axis xyz="-0.5263179 0.28335696 0.8016847"/>
    <limit lower="0.0" upper="1.745" effort="100.0" velocity="100.0"/>
  </joint>
  <link name="pinky_dip">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.01"/>
      <inertia ixx="1e-5" ixy="0" ixz="0" iyy="1e-5" iyz="0" izz="1e-5"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="meshes/visual_pinky3.stl"/>
      </geometry>
      <material name="skin_color"/>
    </visual>
    <visual>
      <origin xyz="-0.0176626015 0.0015621502 -0.0103372633" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
      <material name="tip_marker_red"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="meshes/pinky3.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
